<connectionStrings>
  <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-AngularTutorial-20131014135954;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-AngularTutorial-20131014135954.mdf" providerName="System.Data.SqlClient" />
  <add name="AngularTutorialContext" connectionString="Data Source=(localdb)\v11.0; Initial Catalog=AngularTutorialContext-20131014141147; Integrated Security=True; MultipleActiveResultSets=True; AttachDbFilename=|DataDirectory|AngularTutorialContext-20131014141147.mdf" providerName="System.Data.SqlClient" />
</connectionStrings>
