<h2>{{action}} Todo</h2>
<form name="form" class="form-horizontal">
    <div class="control-group" data-ng-class="{error: form.Todo.$invalid}">
        <label class="control-label" for="Todo">Title</label>
        <div class="controls">
            <input type="text" data-ng-model="item.Todo" id="Title" name="Title" placeholder="" />
        </div>
    </div>
    <div class="control-group" data-ng-class="{error: form.TodoText.$invalid}">
        <label class="control-label" for="Todo">Task</label>
        <div class="controls">
            <textarea data-ng-model="item.TodoText" id="Todo" name="Todo" placeholder="" rows="5" cols="50" />
        </div>
    </div>
    <div class="control-group" data-ng-class="{error: form.DueDate.$invalid}">
        <label class="control-label" for="DueDate">DueDate</label>
        <div class="controls">
            <!--            <input type="text" data-ng-model="item.DueDate" id="DueDate" name="DueDate" placeholder="">-->
             <input id="inputDatepicker" class="input-small" type="text" data-ng-model="datepicker.date" data-date-format="dd/mm/yyyy" bs-datepicker>
        </div>
    </div>
    <div class="control-group" data-ng-class="{error: form.Priority.$inavalid }">
        <label class="control-label" for="Priority">Priority</label>
        <div class="controls">
            <input type="number" data-ng-model="item.Priority" id="Priority" name="Priority" placeholder="">
        </div>
    </div>
    <div class="form-actions">
        <button class="btn btn-primary" data-ng-click="save()">
            {{action}}
        </button>
        <a href="#/" class="btn">Cancel</a>
    </div>
</form>
<!--<script type="text/javascript">
    $document.ready(function () {
        $filter('#DueDate')(date[, mediumDate]);
    });
</script>-->